# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
*.pyc
__pycache__/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python
*.pyc
__pycache__/
venv/
*.egg-info/

# Database
*.db
*.sqlite
postgres_data/

# .md files
Quick_Reference.md
Setup_Guide.md